body{
    background-image: url(../img/man-2264825_1920.jpg);
    background-size: 100%;
}
.mt-15{
    margin-top: 150px;
}
.bg-t{
    
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px;
}
.bg-registro{
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px; 
}
.mg-r{
    margin-right: 60px;
}
.barra-content{
    width: 90%;
}
.barra{
    display: flex;
    justify-content: space-between;
}
img{
    margin-top: 10px;
    width: 130px;
    height: 60px;
}
.botones{
    display: flex;
    gap: 2rem;
}
.botones li{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 15px;
    text-transform: uppercase;
}