body{
    background-image: url(../img/man-2264825_1920.jpg);
    background-size: 100%;
}

img {
    max-width: 100%;
}

.mt-15{
    margin-top: 150px;
}
.bg-t{
    
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px;
}
.bg-registro{
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px; 
}
.mg-r{
    margin-right: 60px;
}
.barra-content{
    width: 90%;
}
.barra{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 0px;
    width: 130px;
    height: 70px;
}
.botones{
    display: flex;
    gap: 2rem;
}
.botones li{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    margin: auto;
    margin-right: 15px;
    text-transform: uppercase;
}
.boton-cerrar{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 15px;
    text-transform: uppercase;
}

.Contenedor-Nivel{
    width: 900px;
    height: 600px;
    
}

.Niveles {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Ejercicios{
    margin-top: 1px;
    width: 350px;
    height: 250px;
}

.CuerpoPrincipiante{
    margin-top: 1px;
    width: 400px;
    height: 300px;
}

h1{
    text-align: center;
    
}

.BotonesNivel {
    display: Flex;
    gap: 10px; 
}

.TituloCategoria{
    text-align: center;
}

.color{
    background-color: black;
}