body{
    background-image: url(../img/man-2264825_1920.jpg);
    background-size: 100%;
    max-width: 100%;
}

img {
    max-width: 100%;
}

.mt-15{
    margin-top: 150px;
}
.bg-t{
    
    height: 180px;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px;
}
.bg-t1{
    
    height: 110px;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px;
}
.bg-registro{
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px; 
}
.mg-r{
    margin-right: 60px;
}
.barra-content{
    width: 90%;
}
.barra{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 0px;
    width: 130px;
    height: 70px;
}
.botones{
    display: flex;
    gap: 2rem;
}
.botones li{
    background-color: white;
    border-radius: 10px;
   
    margin: auto;
    margin-right: 10px;
    text-transform: uppercase;
}

.Contenedor-Nivel{
    width: 900px;
    height: 600px;
    
}

.Niveles {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Ejercicios{
    margin-top: 1px;
    width: 350px;
    height: 250px;
}

.CuerpoPrincipiante{
    margin-top: 1px;
    width: 400px;
    height: 300px;
}

h1{
    text-align: center;
    color: #FF6B6B;
    font-size: 24px;
}

.BotonesNivel {
    display: Flex;
    gap: 10px; 
}

.TituloCategoria{
    text-align: center;
}

.color{
    background-color: black;
}
.backgroud-card{
    background-color: rgba(0, 0, 0, 0.5);

}
h2{
    font-size: 24px;
    text-align: center;
    
}
h3{
    margin-right: 250px;
    font-size: 24px;
    color: #FF6B6B;
}

.posicion{
    margin-bottom: 200px;
}
.posicion-bajar{
    margin-top: 500px;
}
.recuperar{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}
.recuperar1{
    margin-left: 200px;
    color: bisque;
    text-align: center;
    text-decoration: none;
}
.colRecuperar {
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    padding-top:15px;
    border-radius: 10px;
}
