
.app {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.player-wrapper {
  width: 710px;
  height: 400px;
  background-color:#FDCB6E;
}

.react-player {
  margin-bottom: 5px;
  background: rgba(0, 0, 0, .1);
}

.faded {
  color: rgba(0, 0, 0, .5);
}
.margin-top{
  margin:15px auto ;

}
.centrar{
  display: flex;
  justify-content:space-between;
}
.video{
  margin-top: 50px;
}
.tiempo{
  margin-top: 150px;
}

.tamano{
  font-size: 30px;
  border-radius: 10px;
  
}
h2{
    font-size: 24px;
    text-align: center;
    
}
